{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    // Otras reglas personalizadas aquí
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "no-undef": "warn",
    "no-unused-vars": "off",
    "no-constant-condition": "off",
    "react-hooks/exhaustive-deps": "error"
  }
}
