<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <script src="/static/scripts/scriptSample.js"></script>
    <title>Script JS integrado</title>
  </head>
  <body>
    <h1>Script JS integrado</h1>
    <h2>Es tiempo de App_OS</h2>
    <p>
      En esta página html se integra un script de js que al cargarse debería
      ejecutar un alert()
    </p>
    <div id="root">Div root para inyectar app</div>
  </body>
</html>
